@mixin button-styles($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  border-radius: $button-radius;
  padding: $button-padding;
  font-family: $font-main;
  font-size: $font-size-base;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
